@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 23% 15%;
    --foreground: 0 0% 98%;
    --card: 224 23% 21%;
    --card-foreground: 0 0% 98%;
    --popover: 224 23% 21%;
    --popover-foreground: 0 0% 98%;
    --primary: 204 80% 58%;
    --primary-foreground: 224 23% 15%;
    --secondary: 226 43% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 23% 28%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 224 23% 28%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 23% 30%;
    --input: 224 23% 30%;
    --ring: 204 80% 68%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 23% 15%;
    --foreground: 0 0% 98%;
    --card: 224 23% 21%;
    --card-foreground: 0 0% 98%;
    --popover: 224 23% 21%;
    --popover-foreground: 0 0% 98%;
    --primary: 60 96% 52%;
    --primary-foreground: 224 23% 15%;
    --secondary: 226 43% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 23% 28%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 224 23% 28%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 23% 30%;
    --input: 224 23% 30%;
    --ring: 204 80% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
