@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 23% 15%;
    --foreground: 222.2 84% 4.9%;
    --card: 224 23% 21%;
    --card-foreground: 0 0% 98%;
    --popover: 224 23% 21%;
    --popover-foreground: 0 0% 98%;
    --primary: 204 80% 58%;
    --primary-foreground: 224 23% 15%;
    --secondary: 226 43% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 23% 28%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 224 23% 28%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 23% 30%;
    --input: 224 23% 30%;
    --ring: 204 80% 68%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 23% 15%;
    --foreground: 0 0% 98%;
    --card: 224 23% 21%;
    --card-foreground: 0 0% 98%;
    --popover: 224 23% 21%;
    --popover-foreground: 0 0% 98%;
    --primary: 204 80% 58%;
    --primary-foreground: 224 23% 15%;
    --secondary: 226 43% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 23% 28%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 224 23% 28%;
    --accent-foreground: 0 0% 98%;
    --destructive: 350 82% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 23% 30%;
    --input: 224 23% 30%;
    --ring: 204 80% 68%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground dark;
  }
}
